<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="30101">
		<setting id="source" label="30101" type="labelenum" default="XMLTV"
                 values="XMLTV" visible="false"/>
		<setting id="xmltv.type" label="30123" type="enum" default="0" lvalues="30124|30125" visible="false"/>
		<setting id="xmltv.file" label="30103" type="file" visible="false" />
		<setting id="xmltv.url" label="30122" type="text" visible="false"/>
		<setting id="xmltv.logo.folder" label="30116" type="folder" visible="false"/>
		
		<setting id="ottplaylist.playlisttype" label="30130" type="enum" default="0" lvalues="30138|30139" visible="true"/>
		<setting id="ottplaylist.playlistdefaulturl" label="30138" type="text" visible="false"/>
		<setting id="ottplaylist.playlistfile" label="30139" type="file" visible="eq(-2,1)" />
		
		
		<setting label="30126" type="lsep" />
		
		<!--<setting id="ottplaylist.type" label="30130" type="enum" default="0" visible="false" lvalues="30132|30131"/>-->
		<setting id="ottplaylist.server1" label="30131" type="text" default="http://ott.watch" visible="false" />
		<setting id="ottplaylist.server2" label="30132" type="text" default="http://ott.watch" visible="false" />
		<setting id="ottplaylist.server3" label="30133" type="text" default="http://ott.watch" visible="false" />
		<setting id="ottplaylist.ottkey" label="30134" type="text" visible="true" />
		<setting id="ottplaylist.playbackthumbs" label="30137" type="bool" default="false" />
		<setting id="ottplaylist.timeshift" type="slider" label="30135" default="0" range="-12,1,12" option="int"/>
		<!--
			<setting id="ottplaylist.file" label="30131" type="file" visible="eq(-1,1)" />
			<setting id="ottplaylist.url" label="30132" type="text" visible="eq(-2,0)"/>
		-->
        <!--
        	<setting id="youseetv.category" label="30102" type="labelenum" default="Danske"
                 values="Danske|Filmkanaler|Grundpakken|Mellempakken|Fuldpakken|Nordiske|Engelske|Tyske|Latinske|Slaviske|Tyrkiske|Kurdiske|Arabiske|Asiatiske"
                 visible="eq(-1,0)" />
        	<setting id="program.background.enabled" label="30107" type="bool" default="true" visible="eq(-2,0)"/>

        	<setting id="xmltv.type" label="30123" type="enum" default="0" lvalues="30124|30125" visible="eq(-3,1)"/>
        	<setting id="xmltv.file" label="30103" type="file" visible="eq(-1,0) + eq(-4,1)" />
        	<setting id="xmltv.url" label="30122" type="text" visible="eq(-2,1) + eq(-5,1)"/>
        	<setting id="xmltv.logo.folder" label="30116" type="folder" visible="eq(-6,1)"/>
		-->

    </category>

    <category label="30114">
        <setting id="cache.data.on.xbmc.startup" label="30110" type="bool" default="true" />
        <setting id="enable.osd" label="30118" type="bool" default="true" enable="eq(2,false)" />
        <setting label="30119" type="lsep" />
        <setting id="alternative.playback" label="30120" type="bool" default="false" />
        <setting label="30121" type="lsep" />
    </category>

    <category label="30112">
        <setting id="notifications.enabled" label="30106" type="bool" default="true" />
        <setting label="30108" type="action" action="RunScript($CWD/notification.py)" />
        <setting label="30136" type="action" action="RunScript($CWD/dbclearer.py)" />
    </category>
</settings>

